.proCard {
    margin: 0px 10px;
}

.proCard img {
    height: 15vh;
    width: 11vw;
}

.SlidCard {
    /* box-shadow: 3px 3px 2px 2px lightgray; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
     rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
     margin-left: 10px;
    height: 38vh;
    margin-top: 30px;
}
.ProCoursole{
    position: relative;
    top: 50px;
}

@media screen and  (min-width: 280px) and (max-width: 700px){
    .proCard img{
        width: 38vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .SlidCard{
        height: 26vh;
    }
}